<!-- <!DOCTYPE html>
<html>
<head>
<title>filme</title>

</head>

<!-- </noframes>
<frameset cols ="20%,80%" bordercolor ="grey" frameborder ="yes" framespacing ="10" border ="10">
<frame src="listafilme.html">
<frame src="filmeafisare.html">
</frameset>  -->

<!-- <body style="background-color:#000543;">
  <ul>
    <li><a href="#kidzone">Kid Zone</a></li>
      <li><a href="#whishlist">Wishlist</a></li>  
    <li><a href="filme.html">Filme</a></li>
      <li><a href="seriale.html">Seriale</a></li>
      <li><a href="index.html">Home</a></li>
     <li><a href="signin.html">Sign In</a></li>
    </ul>
        
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


</style> -->
<!DOCTYPE html>
<html>
<head>
<title>Movie Rental</title>
</head>
<body style="background-color:powderblue; font-family: sans-serif;">

<style>
  * {
     box-sizing: border-box;
  }
     body, html {
    top: 0;
     margin: 0;
     padding: 0;
     border: 0;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

</style>
<body>

<ul>
<li><a href="kidzone.html">Kid Zone</a></li>
  <li><a href="wishlist.html">Wishlist</a></li>  
<li><a href="filme.html">Filme</a></li>
  <li><a href="seriale.html">Seriale</a></li>
  <li><a href="index.html">Pagina principală</a></li>
 <li><a href="signin.html">Log In</a></li>
</ul>


<h1 style="color:black;">Lista Filme</h1>
<dl style="color:black;">
  <h4><dt>Filme de Dragoste </dt></h4>
  <dd>
    <img src="jurnalul.jpg" alt="The notebook" style="float:left;width:542px;height:242px;">
    <h3 align="center"><i> <b>The Notebook</b> </i>  </h3>
   
   <p> <b>Regia:</b>
Nick Cassavetes</p>
<p><b>Actori:</b>
Ryan Gosling, Rachel McAdams</p>
<p><b>Gen film:</b>
Dramă,
Romantic,
Dragoste</p>
<p ><b>Durata:</b>
115 minute
</p>
<p align="center">  <i>     Descriere</i> </p>
    <palign="right">  Allie Hamilton și Noah Calhoun s-au întâlnit într-o seară la carnaval și se îndrăgostesc. Părinții ei nu consimt legătura fiicei lor, deoarece familia lui Noah nu este suficient de bogată și cunoscută, și hotărăsc să se mute departe, cât mai departe de Noah.

    Allie a așteptat mult timp ca Noah să îi răspundă la scrisori, dar după mai mulți ani hotărăște să se logodească cu Lon, un chipeș soldat american.
    Măcinată încă de dragostea pe care o nutrește față de Noah, Allie decide să îi facă o vizită acestuia și constată că sentimentele lor sunt încă vii. Acum este momentul ca Allie să aleagă între Noah și proaspătul ei logodnic.
  </p>
  <p><a href="https://youtu.be/FC6biTjEyZw">Vizionati trailerul aici!</a></p>
  <button type="submit" style="background-color: #333;" >Inchiriaza filmul!</button>
  
</dd>
<hr>
   <h4><dt>Filme de Actiune </dt></h4>
  
  <dd>
    <img src="fastandfurios.jpg" alt="Fast and Furios" style="float:left;width:542px;height:418px;">
        <h3 align="center"><i> <b> Fast and Furios    </b> </i>  </h3>
       
       <p> <b>Regia: </b> Rob Cohen
    </p>
    <p><b>Actori: </b> Paul Walker, Vin Diesel
    </p>
    <p><b>Gen film:  
        </b>Acţiune,
        Crimă,
        Thriller
    </p>
    <p ><b>Durata: </b>106 minute
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Două bande rivale luptă pentru supremația străzilor din Los Angeles. Un polițist este infiltrat printre ei ...multă acțiune inserată între curse ilegale de mașini.

        Dominic Toretto (Vin Diesel) conduce mașina pe străzile din Los Angeles ca și când acestea ar fi proprietatea lui. 
        Dominic își petrece timpul concentrându-se asupra curselor de mașini de maximă performanță. 
        Cursele sunt un adevărat teatru de stradă, un câmp de luptă alimentat de adrenalină, tensiuni sexuale și viteză necontrolată.…

      </p>
      <p><a href="https://youtu.be/2TAOizOnNPo">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333;">Inchiriaza filmul!</button>
      
    </dd>
<hr>
 <h4><dt>Filme Horror </dt></h4>
  
  <dd>
    <img src="thenun.jpg" alt="" style="float:left;width:542px;height:242px;">
        <h3 align="center"><i> <b>   The Nun  </b> </i>  </h3>
       
       <p> <b>Regia: </b> Corin Hardy
    </p>
    <p><b>Actori: </b>Boonie Aarons, Demián Bichir, Taissa Farmiga, Jonas Bloquet
    </p>
    <p><b>Gen film: 
    </b> Horror, Thriller
    <p ><b>Durata: </b>96 minute
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
    <palign="right"> Dupa ce o tanara calugarita isi ia viata in conditii misterioase la o manastire izolata din Romania, inaltii prelati de la Vatican hotarasc sa cerceteze incidentul.
      Astfel, in ciuda trecutului sau destul de obscur, parintele Burke este trimis la manastirea Carta impreuna cu o tanara novice, chiar inainte ca aceasta sa isi depuna juramantul final.
      Reusind sa descopere taina blestemata pe care o ascunde manastirea, cei doi ajung sa isi riste nu doar viata, dar si credinta si chiar propriul suflet in confruntarea cu prezenta malefica ce bantuie manastirea, transformand-o intr-un adevarat camp de lupta al celor vii cu cei damnati.
      
  </p>
    </p>


      <p><a href="https://youtu.be/">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333;">Inchiriaza filmul!</button>
      
    </dd>
<hr>
 <h4><dt>Filme de Aventura </dt></h4>
  <dd>
    <img src="jumanji.jpg" alt="jumanji" style="float:left;width:542px;height:242px;">
        <h3 align="center"><i> <b>  Jumanji: Welcome to the Jungle   </b> </i>  </h3>
       
       <p> <b>Regia:</b>Jake Kasdan
    </p>
    <p><b>Actori: </b>Dwayne Johnson, Kevin Hart
    </p>
    <p><b>Gen film: </b>Aventura, Comedie
    </p>
    <p ><b>Durata:</b>98 minute
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Patru elevi din liceul Brantford se află în detenție împreună și sunt puși de directorul școlii să facă curat 
            la subsol. În acest timp, cei patru găsesc Jumanji, 
            un joc video de acțiune și de aventură multiplayer. Când Spencer apasă butonul Start, cei patru sunt teleportați 
            în joc.
            Aceștia ajung într-o junglă, fiecare având corpul avatarelor lor de joc. În curând, își dau seama că se află 
            într-un joc video și fiecare are doar trei vieți. Dacă vor pierde toate cele trei vieți, vor muri cu adevărat. Fiecare 
            dintre avatare are și abilități dar și puncte slabe.
            Pentru a scăpa din joc, 
            jucătorii trebuie să pună "Ochiul lui Jaguar" într-o statuie enormă în formă de jaguar și să strige "Jumanji". 
            
      </p>
      <p><a href="https://www.youtube.com/watch?v=2QKg5SZ_35I&ab_channel=SonyPicturesEntertainment
        ">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333;">Inchiriaza filmul!</button>
      
    </dd>

<hr>
 <h4><dt>Filme de Comedie </dt></h4>
  
  <dd>
    <img src="singuracasa.jpg" alt="" style="float:left;width:542px;height:242px;">
        <h3 align="center"><i> <b> Home Alone    </b> </i>  </h3>
       
       <p> <b>Regia: </b>Chris Columbus
    </p>
    <p><b>Actori: </b>Macaulay Culkin
    </p>
    <p><b>Gen film: </b>Comedie 
      ,Familie
    </p>
    <p ><b>Durata: </b>103 minute
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right"> Numerosul familion McCallister al micuțului Kevin de 8 ani - părinți, unchi, frați, surori și veri pornesc cu mic cu mare să petreacă sărbătorile Craciunului în străinătate, la Paris, uitându-l acasă pe băiețel.
            Cu toate astea, micuțul nu se plictisește deloc, mai ales că doi hoți plănuiesc să jefuiască locuința, crezând-o nelocuită. Curajosul și inteligentul Kevin recurge la tot felul de capcane pentru a-și apăra casa...
            Singur acasă este unul dintre cele mai bune scenarii din câte am citit vreodata, iar Singur acasă 2 intră și el în această categorie. Dacă n-ar fi existat, le-aș fi făcut eu - mărturisea Chris Columbus, care le-a regizat pe amândouă, dovedind și în filmele ulterioare același talent extraordinar pentru comedie, ca în "Mrs. Doubtfire" și "Nine Months".
            Datorita lui Columbus, Macaulay Culkin, care, până în 1990, doar în filmul Uncle Buck arătase ceva deosebit, a devenit cel mai celebru actor-copil al tuturor timpurilor, o supervedetă plătită cu zeci și zeci de milioane de dolari pentru fiecare rol.
            Ambele comedii continuă să figureze la locuri de cinste pe lista filmelor cu cele mai mari încasari în box-office-ul mondial, iar micuțul erou, Kevin McCallister, este adorat de toți copiii din lume.
            "Aceste filme sunt despre răii care o încasează de la un puști" - spune Joe Pesci, interpretul banditului Harry. "Toți copiii vor să fie Mack și să ne facă praf pe Daniel și pe mine. Mi se întâmplă deseori ca puștii pe care-i întâlnesc să-mi dea adresele ca să le jefuiesc casele și ca ei să mă poată pune cu botul pe labe."
            Celalalt hoț, Marv, e jucat de Daniel Stern, care povesteste: "Eu sunt banditul mai blând și mai milos, cam tare de cap, e-adevărat, dar dornic de revanșă." 
      </p>
      <p><a href="https://www.youtube.com/watch?v=pzD9zGcUNrw">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333;">Inchiriaza filmul!</button>
      
    </dd>
<hr>
</dl>


</body>
</html>
