<!DOCTYPE html>
<html>
<body style="background-color:#000543;">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>

<h1 style="color:white;">Lista Seriale</h1>
<dl  style="color:white;" >
  <h4><dt >Seriale de Dragoste </dt></h4>
  <dd>Virgin River </dd>
<hr>
  <h4> <dt>Seriale de Actiune </dt> </h4>
  <dd>Daredevil </dd>
<hr>
 <h4><dt>Seriale Horror </dt></h4>
  </A> <dd>Stranger Things </dd>
<hr>
 <h4><dt>Seriale de Aventura </dt></h4>
  <dd>Vikings </dd>
<hr>
 <h4><dt>Seriale de Comedie </dt></h4>
  <dd>Friends</dd>
<hr>
</dl>
</body>
</html>