<!DOCTYPE html>
<html>
<head>
<title>Movie Rental</title>
</head>
<body style="background-color:#000543;">

<style>
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
</style>
</head>
<body>





<h1 style="color:white;">Lista Filme</h1>
<dl style="color:white;">
  <h4><dt>Filme de Dragoste </dt></h4>
  <dd>-JURNALUL </dd>
<hr>
   <h4><dt>Filme de Actiune </dt></h4>
  <dd>- Fast and Furios </dd>
<hr>
 <h4><dt>Filme Horror </dt></h4>
  <dd>- The Nun </dd>
<hr>
 <h4><dt>Filme de Aventura </dt></h4>
  <dd>-Jumaji </dd>
<hr>
 <h4><dt>Filme de Comedie </dt></h4>
  <dd>- Doi barbati si jumatate</dd>
<hr>
</dl>
</body>
</html>