<!DOCTYPE html>
<html>
<head>
<title>seriale</title>



</head>

</noframes>
<frameset cols ="20%,80%" bordercolor ="grey" frameborder ="yes" framespacing ="10" border ="10">
<frame src="listaser.html">
<frame src="serialeafisare.html">
</frameset> 



<body style="background-color:#000543;">
 
<style>

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}


</style>

