<!DOCTYPE html>
<html>
<head>
<title>Movie Rental</title>
</head>
<body style="background-color:#0a0d38; font-family: sans-serif;color: white;">

<style>
  * {
     box-sizing: border-box;
  }
     body, html {
    top: 0;
     margin: 0;
     padding: 0;
     border: 0;
  }
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  margin-top: 0;
}

li {
  float: right;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #111;
}
button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

</style>
<body>

<ul>
<li><a href="kidzone.html">Kid Zone</a></li>
  <li><a href="wishlist.html">Wishlist</a></li>  
<li><a href="filme.html">Filme</a></li>
  <li><a href="seriale.html">Seriale</a></li>
  <li><a href="index.html">Pagina principală</a></li>
 <li><a href="signin.html">Log In</a></li>
</ul>

<h1 style="color:white;">Lista Seriale</h1>
<dl  style="color:white;" >
  <h4><dt >Seriale de Dragoste </dt></h4>

  <dd>
    <img src="virginriver.jpg" alt="" style="float:left;width:500px;height:250px; object-fit: cover;">
        <h3 align="center"><i> <b>  Virgin River   </b> </i>  </h3>
       
       <p> <b>Regia: </b>Sue Tenney, Ian Hay
    </p>
    <p><b>Actori: 
    </b>Alexandra Breckenridge, Martin Henderson
    </p>
    <p><b>Numar de sezoane: </b>4
        </p>
    <p><b>Gen serial: </b>Romantic, Drama
    </p>
    
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Serialul o are în prim plan pe Melinda Monroe, o asistentă care s-a mutat recent în Virgin River, 
            un orășel izolat din nordul Californiei. Ea crede că acesta este locul perfect pentru a își lăsa amintirile 
            dureroase în urmă și își dorește să înceapă o viață nouă, însă de-a lungul timpului descoperă că viața într-un oraș 
            mic nu e așa cum și-a imaginat.
            
      </p>
      <p><a style="color:white;" href=" https://www.youtube.com/watch?v=DMNjH5MlQXc&ab_channel=Netflix
        ">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333;float: left; width: 50%;">Inchiriaza serialul!</button>
      <button type="submit" style="background-color: #333;float: right; width: 50%;">Adauga la wishlist</button>
      
    </dd>
<hr>
  <h4> <dt>Seriale de Actiune </dt> </h4>
  
  <dd>
    <img src="matt.jpg" alt="" style="float:left;width:500px;height:250px; object-fit: cover;">
        <h3 align="center"><i> <b>Daredevil     </b> </i>  </h3>
       
       <p> <b>Regia: </b>Phil Abraham
    </p>
    <p><b>Actori: 
    </b>Charlie Cox, Deborah Ann Woll
    </p>
    <p><b>Numar de sezoane: </b>3
        </p>
    <p><b>Gen serial: </b>Actiune, SF
    </p>
    
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Daredevil prezintă aventurile unui tânăr cu abilități extraordinare, Matt Murdock, care luptă împotriva nedreptăților ca avocat, în timpul zilei, și ca supereroul Daredevil, odată cu lăsarea nopții. Acțiunea se desfășoară în zilele noastre, în același cartier mărginaș al Manhattan-ului descris în benzile desenate, Hell’s Kitchen.
            
        
            
      </p>
      <p><a style="color:white;" href="https://www.youtube.com/watch?v=jAy6NJ_D5vU">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333; width: 50%;">Inchiriaza serialul!</button>
      <button type="submit" style="background-color: #333;float: right; width: 50%;">Adauga la wishlist</button>
      
    </dd>
<hr>
 <h4><dt>Seriale Horror </dt></h4>
  
  <dd>
    <img src="stranger.jpg" alt="" style="float:left;width:500px;height:250px; object-fit: cover;">
        <h3 align="center"><i> <b>  Stranger Things   </b> </i>  </h3>
       
       <p> <b>Regia: </b>Shawn Levy, Ross Duffer, Matt Duffer
    </p>
    <p><b>Actori: </b>Winona Ryder, Millie Bobby Brown, Finn Wolfhard
    </p>
    <p><b>Numar de sezoane: </b>4
        </p>
    <p><b>Gen serial: </b>Horror, Mister
    </p>
    
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Într-un orășel mic, unde toată lumea se cunoaște personal, un incident ciudat lansează un lanț de evenimente ce conduc la dispariția unui copil. Agenții guvernamentale secrete și forțe supranaturale întunecate, aparent răuvoitoare, ajung în oraș, în timp ce câțiva localnici încep să înțeleagă că există ceva înfricoșător în orașul lor pașnic.
      </p>
      <p><a style="color:white;" href="https://youtu.be/mnd7sFt5c3A">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333; width: 50%;">Inchiriaza serialul!</button>
      <button type="submit" style="background-color: #333;float: right; width: 50%;">Adauga la wishlist</button>
      
    </dd>
<hr>
 <h4><dt>Seriale de Aventura </dt></h4>
 
  <dd>
    <img src="vikings.jpg" alt="" style="float:left;width:500px;height:250px; object-fit: cover;">
        <h3 align="center"><i> <b> Vikings     </b> </i>  </h3>
       
       <p> <b>Regia: </b>Michael Hirst
    </p>
    <p><b>Actori: </b>Travis Fimmel, Katheryn Winnick
    </p>
    <p><b>Numar de sezoane: </b>6
    </p>
    <p><b>Gen serial: </b>Actiune, Aventura
    </p>
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Primul sezon îl portretizează pe Ragnar ca tânărul războinic viking care tânjește să descopere civilizații noi. 
            Alături de prietenul său, talentatul meșteșugar Floki, construiește un nou tip de bărci, mai rapide, și îl provoacă pe 
            conducătorul local, contele Haraldson, 
            un om cu o viziune îngustă, să îi permită raidul în Anglia de nord-est, un tărâm necunoscut. 
            Ragnar este victorios în primul său raid din regatul anglo-saxon Northumbria, 
            întorcându-se cu bogății și cu călugărul Athelstan. Acest lucru îi 
            câștigă dușmănia regelui anglo-saxon Aelle și declanșează o serie de confruntări violente cu contele 
            Haraldson, până când Ragnar îl omoară și preia conducerea, devenind conte. Acesta îi jură credință regelui danez 
            Horik/ Eric I și îl reprezintă în negocierile cu contele Borg asupra unui pământ.
            
      </p>
      <p><a style="color:white;" href="https://www.youtube.com/watch?v=9GgxinPwAGc&ab_channel=RewatchAgain
        ">Vizionati trailerul sezonului 1 aici!</a></p>
      <button type="submit" style="background-color: #333; width: 50%;">Inchiriaza serialul!</button>
      <button type="submit" style="background-color: #333;float: right; width: 50%;">Adauga la wishlist</button>
      
    </dd>

<hr>
 <h4><dt>Seriale de Comedie </dt></h4>
  
  <dd>
    <img src="2men.jpg" alt="" style="float:left;width:500px;height:250px; object-fit: cover;">
        <h3 align="center"><i> <b>  Two and a Half Men   </b> </i>  </h3>
       
       <p> <b>Regia: </b>Lee Aronsohn
    </p>
    <p><b>Actori: </b>Charlie Sheen, Ashton Kutcher
    </p>
    <p><b>Numar de sezoane: </b>12
        </p>
    <p><b>Gen serial: </b>Comedie, Familie
    </p>
    
    
    </p>
    <p align="center">  <i>     Descriere</i> </p>
        <palign="right">  Serialul se centrează asupra unui bărbat numit Charlie, al cărui stil de viață este întrerupt când 
            fratele său Alan, care tocmai divorțase de soția lui, se mută cu el, împreună cu băiatul său Jake.
            
            
      </p>
      <p><a style="color:white;" href=" https://www.youtube.com/watch?v=eKM2L_yBTX0&ab_channel=JoeCipriano
        ">Vizionati trailerul aici!</a></p>
      <button type="submit" style="background-color: #333; width: 50%;">Inchiriaza serialul!</button>
      <button type="submit" style="background-color: #333;float: right; width: 50%;">Adauga la wishlist</button>
      
    </dd>
<hr>
</dl>

</body>
</html>